<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Smoke Test" guice-stage="DEVELOPMENT">
  <test thread-count="5" name="suite">
    <classes>
      <class name="testes.loginTest">
        <methods>
          <include name="enterUserDetails"/>
          <include name="enterInvalidUserDetails"/>
        </methods>
      </class> <!-- testes.loginTest -->
    </classes>
  </test> <!-- Default test(failed) -->
</suite> <!-- Failed suite [Default suite] -->
